<app-system-message-bar color="primary" [message]="message"></app-system-message-bar>
<div *ngIf="tasks && userID">
  <mat-card>
    <div id="chartContainer" style="width: 100%; height: 700px;"></div>
    <!-- <ng-multiselect-dropdown [placeholder]="'Select Attributes to Display'" [data]="dropdownList"
          [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onDropDownClose)="onDropDownClose()">
        </ng-multiselect-dropdown> -->
  </mat-card>

  <mat-card>
    <mat-label>X-axis: </mat-label>
    <mat-form-field>
      <mat-select [(value)]="axisX" (selectionChange)="updateReport()">
        <mat-option *ngFor="let attribute of this.attributes" value="{{attribute}}">{{attribute}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Y-axis: </mat-label>
    <mat-form-field>
      <mat-select [(value)]="axisY" (selectionChange)="updateReport()">
        <mat-option *ngFor="let attribute of this.attributes" value="{{attribute}}">{{attribute}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateReport()">Refresh Report</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card *ngFor="let task of tasks">
  <mat-card *ngIf="task.status">
    <mat-card-title>Task {{ task.taskID }}</mat-card-title>
    <mat-card-subtitle *ngIf="task.startTime">Start Time: {{ task.startTime }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="task.lastUpdate">Last Update: {{ task.lastUpdate }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="task.command">Commands: {{ task.command }}</mat-card-subtitle>
    <mat-card-content *ngIf="task.report">
      <table [dataSource]="task.outputRows" mat-table class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of task.displayedColumns; let i = index"
          [attr.data-index]="i">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'highlight': column == axisX || column == axisY}">
            {{ column }}</th>
          <td mat-cell *matCellDef="let outputRow" [ngClass]="{'highlight': column == axisX || column == axisY}">
            {{ outputRow[i] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="task.displayedColumns"></tr>
        <tr mat-row *matRowDef="let outputRows; columns: task.displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card *ngIf="task.status">
      <mat-card-title>Task Status</mat-card-title>
      <mat-card-content>{{ task.status }}</mat-card-content>
    </mat-card>
  </mat-card>
</mat-card>
