<div class='landing'>
  <mat-toolbar color="primary" class="sticky-toolbar">
    <mat-toolbar-row>
      <span>Massive Online Analysis</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-title>Server Address</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="http://localhost:2025/" #serverIP>
        <button matSuffix mat-raised-button (click)="setServerAddress(serverIP.value)">Set</button>
      </mat-form-field>
    </mat-card-content>
    <button matSuffix mat-raised-button><a href="{{serverAddress}}user/auth/google">Sign In with Google</a></button>
  </mat-card>
</div>
