<app-system-message-bar [message]="message"></app-system-message-bar>
<mat-card>
  <mat-card-title>Gmail Address</mat-card-title>
  <mat-form-field class="input-full-width">
    <input matInput placeholder="john.snow@gmail.com" #emailInput />
    <button matSuffix mat-raised-button (click)="setEmail(emailInput.value)">
      Confirm
    </button>
  </mat-form-field>
  <mat-card-title>User Info</mat-card-title>
  <mat-card-content> ID: {{ userID }} </mat-card-content>
  <mat-card-content> Email: {{ email }} </mat-card-content>
</mat-card>
<mat-card *ngIf="userID">
  <mat-card-title>Server Address</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="http://localhost:2025/" #serverIP />
      <button matSuffix mat-raised-button (click)="setServerAddress(serverIP.value)">
        Set
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-card *ngIf="servers.length > 0">
    <mat-card-title>Servers</mat-card-title>
    <mat-card-content *ngFor="let server of servers">
      <mat-card mat-elevation-z8 (click)="setServerAddress(server)" [ngClass]="{
          current: currentServer == server
        }">
        {{ server }}
      </mat-card>
    </mat-card-content>
  </mat-card>
</mat-card>
<mat-card *ngIf="userID">
  <mat-card-title>Task Auto Refresh</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="0 to disable" #frequency />
      <span matSuffix>seconds</span>
      <button matSuffix mat-raised-button (click)="setFrequency(frequency.value)">
        Set
      </button>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="userID">
  <mat-card-title>Report Significant Digits</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="0 to disable" #significance />
      <span matSuffix>digits</span>
      <button matSuffix mat-raised-button (click)="setSignificance(significance.value)">
        Set
      </button>
    </mat-form-field>
  </mat-card-content>
</mat-card>
