<form class="input-form">
  <mat-card>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="ARFF Dataset" disabled />
      <div
        flow-init="{target: '/upload'}"
        flow-files-submitted="$flow.upload()"
        flow-file-success="$file.msg = $message"
      >
        <input type="file" flow-btn />
      </div>
      <button matSuffix mat-raised-button>Submit Dataset</button>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <span matPrefix>java -cp ./lib/moa.jar moa.DoTask </span>
    <mat-form-field class="input-full-width">
      <textarea matInput placeholder="MOA Commands"></textarea>
      <button matSuffix mat-raised-button>Submit Task</button>
    </mat-form-field>
  </mat-card>
</form>
<mat-card class="task-output">
  <mat-card>
    <mat-card-title>UserID</mat-card-title>
    <mat-card-content>UUID</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Task Output</mat-card-title>
    <mat-card-content>UUID</mat-card-content>
    <mat-card-content>Report</mat-card-content>
  </mat-card>
</mat-card>
